@model Garage3.Models.VehicleDetailViewModel

<div class="border border-light-subtle p-2 border-opacity-10 rounded bg-gradient box-shadow mt-5">
    <h4 class="mb-3">Vehicle Detail</h4>
    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Type)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Type)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.RegistrationNumber)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.RegistrationNumber)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Color)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Color)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Brand)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Brand)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Model)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Model)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.WheelCount)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.WheelCount)
                </dd>
                
            </dl>

        </div>
    </div>
</div>