@model IEnumerable<Garage3.Models.AdminParkedVehicleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Parked Vehicles</h1>

<table class="table">
    <thead>
        <tr>
            <th>Owner</th>
            <th>Type</th>
            <th>Reg No</th>
            <th>Spot</th>
            <th>Parked Date</th>
            <th>Parked Time</th>
        </tr>
    </thead>
    <tbody>
@foreach (var p in Model) {
        <tr>
                <td>@p.OwnerName</td>
                <td>@p.VehicleType</td>
                <td>@p.RegistrationNumber</td>
                <td>@p.ParkingSpotNumber</td>
                <td>@p.ArrivalTime</td>
                <td>@p.ParkedSince.ToString("hh\\:mm")</td>
        </tr>
}
    </tbody>
</table>
